@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');
}

body {
  width:100%;
  background-color: #fff;
  padding:0px;
  font: 20px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
  margin:0 0 0px 0px;
}
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #800000;
  color: white;
}
.navbar a.active {
    background-color: #800000;
    color: white;
}
.navbar a:visited {
  color: #fff;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.wrapper {
  width:80%;
  float:center;
  margin-top: 50px;

}
.wrapper a {
  color:#006eb6;
  background-color:transparent;
  text-decoration-line:underline;
  text-decoration-style: dotted;
}
.wrapper a.visited {
  color:#006eb6;
  background-color:transparent;
  text-decoration-line:underline;
  text-decoration-style: dotted;
}
.wrapper a.hover {
  color:#006eb6;
  background-color:transparent;
  text-decoration:none;
}
.header {
  width:100%;
  float:center;
  margin-left:0px;
  margin-top: 60px;

}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 0px;
}

p, ul, ol, table, pre, dl {
  margin-left:40px;
  padding:0px 10px;
  width:80%
}

h2 {
  line-height:1.1;
  font-size:24px;
  margin:0 20px;
}
h3 {
  line-height:1.1;
  font-size:20px;
}
h1 {
  line-height:1.1;
  font-size:28px;
}
h4 {
  margin:0 20px;
  font-size:20px;
}

a {
  text-decoration:underline;
  text-decoration-style: dotted;
}
.button {
    background-color:#888;
    color:#000;
    padding: 14px 16px;
    text-align: center;
    vertical-align:middle;
    display: inline-block;
    font-size: 20px;
    margin: 0px 20px 0px;
    border-radius: 0px;
    text-decoration: None;
    display:inline-block;
}

a:hover {
  color:#069;
  text-decoration: none
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
  text-decoration:underline;
  text-decoration-style: dotted;
}

a:hover small {
  color:#777;
}




blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

tr{
    border-bottom:2px solid #e5e5e5;
}
th, td {
  text-align:left;
  padding:5px 10px;
  word-wrap:break-all;
}

dt {
  color:#444;
  font-weight:700;

}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:100%;
  float:left;
  position:static;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:20px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:24px;
  display:block;
  color:#222;
}

section {
  width:100%;
  float:center;
  padding-bottom:0px;
  padding-top:15px;
  margin:0px 0px 0px;
  font-size:16px
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  text-align:"right"
}
u.dotted{
          border-bottom: 1px dashed #999;
          text-decoration: none;
        }
@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;

  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }


  section {
    border:10px solid #e5e5e5;
    border-width:1px 0;
    padding:10px 10px;
    margin:0px 0px 0px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:20px;
    color:#444;
  }
}
